$themeColor: #0099fb;
$fontColor: #979ea5;
$font-small: 10px;
$font-medium: 14px;

/* media query */
@mixin for-size( $size ) {
    @if ( $size == mobile ) {
        @media screen and ( max-width: 599px ) { @content; }
    } @else if ( $size == tablet ) {
        @media screen and ( max-width: 999px ) and ( min-width: 600px) { @content; }
    } @else if ( $size == desktop ) {
        @media screen and ( min-width: 1000px ) { @content; }
    }
}

/* icon-arrow */
@mixin icon-arrow($direction: 'left', $width: 17px, $height: 5px, $bakcground: $fontColor ) {
    position: relative;
    display: block;
    width: $width;
    height: $height;
    background: darken( $fontColor, 20%);
    transition: scale .3s ease-in-out;
    @if ( $direction == 'left' ) {
        transform: rotate(-45deg);
        transform-origin: top right;
    } @else {
        transform: rotate(45deg);
        transform-origin: bottom left;
    }
    @include for-size(mobile) {
        width: 13px;
        height: 3px;
    }
    &:after {
        position: absolute;
        top: 6px;
        content: '';
        display: block;
        width: $width;
        height: $height;
        background: darken( $fontColor, 20%);
        @if ( $direction == 'left' ) {
            left: -6px;
            transform: rotate(-90deg);
            @include for-size(mobile) {
                left: -5px;
            }
        } @else {
            right: -6px;
            transform: rotate(90deg);
            @include for-size(mobile) {
                right: -5px;
            }
        }
        @include for-size(mobile) {
            top: 5px;
            width: 13px;
            height: 3px;
        }
    }
}

:host {
    width: 100%;
    height: 100%;
    background: #fff;
    @include for-size(mobile) {
        font-size: $font-small;
    }
    @include for-size(tablet) {
        font-size: $font-medium;
    }
}

.select-box-wrapper {
    position: relative;
}

select {
    width: 60px;
    height: 20px;
    font-size: 1em;
    padding: 0 .5em;
    color: darken( $fontColor, 28% );
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    @include for-size(mobile) {
        width: 40px;
    }
    &+ label {
       position: absolute;
       top: 8px;
       right: -2px;
       width: 0;
       height: 0;
       border: 6px solid transparent;
       border-color: darken( $fontColor, 28% ) transparent transparent transparent; 
       z-index: -1;
       @include for-size(mobile) {
        top: 9px;
        right: 2px;
        border-width: 4px;
    }
       @include for-size(tablet) {
            top: 9px;
            right: 9px;
            border-width: 5px;
        }
    }
}

/* IE */
select::-ms-expand {
    display: none;
}

table {
    border-collapse: collapse;
}

.icon-prev {
    @include icon-arrow('left');
}

.icon-next {
    @include icon-arrow('right');
}

.date-picker-table thead {
    border-bottom: 1px solid #495057;
}

.date-picker-container {
    width: 80%;
    background: #fff;
    border-radius: 2px;
    margin: 0 auto;
    padding: 3em;
    @include for-size(mobile) {
        padding: 2em;           
    }
    .display-pannel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
        .input-container {
            position: relative;
            display: flex;
            flex: 0 0 45%;
            width: 40%;
            max-width: 250px;
            @include for-size(mobile) {
                margin-top: 20px;
            }
            span:first-child {
                position: absolute;
                top: -10px;
                left: 11px;
                font-size: .9em;
                @include for-size(mobile) {
                    top: -3px;
                    left: 7px;
                }
            }
            .notice-text {
                position: absolute;
                left: 11px;
                bottom: -9px;
                font-size: .8em;
                @include for-size(mobile) {
                    left: 7px;
                    bottom: -5px;
                }
            }
        }
        .text-container {
            display: flex;
            align-items: baseline;
            width: 100%;
            margin: 30px 0;
            @include for-size(mobile) {
                margin: 15px 0;   
            }
            h3 {
                font-size: 1.5em;
                color: darken($fontColor, 15%);
            }
            p {
                font-size: .9em;
                margin-left: 8px;
                span {
                    font-size: 1.1em;
                    font-weight: 600;
                }
            }
        }
        .date-picker-form {
            width: 100%;
            height: 50px;
            margin: 10px 0;
            padding: .8em .8em .8em 1em;
            font-size: 1em;
            color: #495057;
            background: #F1F3F5;
            border: none;
            border-radius: 3px;
            @include for-size(mobile) {
                height: 30px;
            }
        }
    }
}

.date-picker {
    padding: 1em;
    border-radius: 6px;
    box-shadow: 0px 4px 9px 1px darken($fontColor, 20%);
}

.button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    margin: 10px 0;
    button {
        width: 25%;
        height: 30px;
        line-height: 30px;
        background: $themeColor;
        color: #fff;
        border: none;
        border-radius: 3px;
        font-size: .9em;
        margin: 10px;
        outline: none;
    }
}

.calender-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 6%;
    span {
        display: block;
        width: 25px;
        height: 25px;
        cursor: pointer;
        transition: scale .3s ease-in-out;
        @include for-size(mobile) {
            width: 20px;
            height: 20px;
        }
        &:active {
            transform: scale(0.8);
        }
    }
}

.calender-heading-year-month {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(20%);
    h3 {
        font-size: 1.5em;
        color: darken( $fontColor, 28% );
    }
}

.date-picker-table {
    width: 100%;
    th, td {
        position: relative;
        width: calc(100% / 7);
        padding-top: 7%;
        padding-bottom: 7%;
        text-align: center;
    }
    th {
        padding: 4% 0;
        color: darken( $fontColor, 28% );
    }
    
    td {
        color: $fontColor;
        cursor: pointer;
        &:hover {
            color: darken( $fontColor, 15% );
        }
        div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate( -50%, -50% );
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;
            height: 90%;
            box-sizing: border-box;
        }
    }
}

.selected-today {
    border: 1px solid #0099fb; 
}

.selected-date {
    background: $themeColor;
    color: #fff;
}

.selected-days {
    background: lighten( $themeColor, 35%);
}